.font-lobster {
    font-family: 'Lobster', cursive;
}
.mb-300px{
    margin-bottom: 300px;
}

.mb-250px{
    margin-bottom: 250px;
}

.h-170px {
    height: 170px;
}

.w-150px {
    width: 150px;
}

.h-100p{
    height: 100%;
}

.h-226px{
    height: 226px;
}

.h-50px{
    height: 50px;
}

.w-90p {
    width: 90%;
}

.w-100p{
    width: 100%;
}

.bg-contain{
    background-size: contain;
}

.bg-silver{
    background-color: silver;
}

.bg-gray{
    background-color: gray;
}


.font-bold{
    font-weight: bold;
}

.font-size-22{
    font-size: 22px;
}

.font-size-18{
    font-size: 18px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-12{
    font-size: 12px;
}