<div class="bg-white mt-5">
        <h2 class="d-flex justify-content-center">Chào mừng các bạn đã đến với Mùa Đông Không Lạnh</h2>
        <br>
        <h6 class="font-italic font-explain d-flex justify-content-center">"Chúng tôi ở đây là để giúp cho bạn có mối quan hệ tốt đẹp với gia đình, người thân trong khi vẫn giữ được sự tự do và riêng tư, cũng như quyết định của bản thân bạn"</h6>
        <div class="d-flex my-5 justify-content-around">
            <a href="#" class="btn btn-lg col-md-5 active" role="button" aria-pressed="true" style="background-image: url(../../static/image/female.jpg); height: 243px;">
                <p class="d-flex h-100p w-90p text-light justify-content-end align-items-center font-weight-bold">Bạn là Nam</p>
            </a>
            <a href="#" class="btn btn-lg col-md-5 active" role="button" aria-pressed="true" style="background-image: url(../../static/image/male.jpg); height: 243px;">
                <p class="d-flex h-100p ml-5 text-light justify-content-start align-items-center font-weight-bold">Bạn là Nữ</p>
            </a>
        </div>
    </div>