<!-- <div class="bg-dark text-white border mb-0">
    <div class="pl-3 h-100p font-size-22 font-bold">Gói cao cấp</div>
</div>
<div class="border">
    <p class="text-dark pl-3">Dẫn bạn về ra mắt</p> 
    <p class="text-dark pl-3">Ăn cơm cùng gia đình</p>
    <p class="text-secondary pl-3">Cho phép nắm tay thể hiện quan tâm</p>
    <p class="text-secondary pl-3">Bạn sẽ phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
    <p class="text-primary pl-3">Và nhiều ưu đãi bất ngờ khác</p>
</div>
<div class="border d-flex justify-content-end">
    <div class="btn btn-dark text-light my-2 mx-3">
        <i class="fas fa-heart"></i>
        Tìm hiểu thêm
    </div>
</div> -->


<div class="card" style="width: 22rem;">
    <div class="card-header font-size-22 font-bold text-light bg-dark">
        Gói cao cấp
    </div>
    <div class="card-body">
        <p class="card-text">Dẫn bạn về ra mắt</p>
        <p class="card-text">Ăn cơm cùng gia đình</p>
        <p class="card-text">Cho phép nắm tay thể hiện quan tâm</p>
        <p class="card-text">Bạn sẽ phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
        <p class="card-text text-primary">Và nhiều ưu đãi bất ngờ khác</p>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <a href="#" class="btn btn-dark">
                <i class="fas fa-heart"></i>
                Tìm hiểu thêm
        </a>
    </div>
</div>