<div class="w-100p bg-contain" style="background-image:url(../../static/image/night.jpg)">
    <h2 class="d-flex justify-content-center text-light py-4">Khách hàng bình chọn</h2>
    <div class="pt-2 d-flex justify-content-around">
        <img src="../../static/image/steel.jpg" class="img-thumbnail col-md-2 h-170px">
        <img src="../../static/image/rocks.jpg" class="img-thumbnail col-md-2 h-170px">
        <img src="../../static/image/woods.jpg" class="img-thumbnail col-md-2 h-170px">
        <img src="../../static/image/lightning.jpg" class="img-thumbnail col-md-2 h-170px">
    </div>
    <div class="py-5 d-flex justify-content-around">
        <img src="../../static/image/steel.jpg" class="img-thumbnail col-md-2 h-170px">
        <img src="../../static/image/rocks.jpg" class="img-thumbnail col-md-2 h-170px">
        <img src="../../static/image/woods.jpg" class="img-thumbnail col-md-2 h-170px">
        <img src="../../static/image/lightning.jpg" class="img-thumbnail col-md-2 h-170px">
    </div>
</div>