<!-- !html => câu lệnh tắt => xong thì phải xóa dấu "!" ở đầu -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h2>C4E Blog</h2>
    <div>
        <h3>Đàn guitar</h3>
        <p>
            những tiếng đàn bọt nước
            <br>
            Tây Ban Nha áo choàng đỏ gắt
            <br>
            li-la li-la li-la
            <br>
            đi lang thang về miền đơn độc
            <br>
            với vầng trăng chếnh choáng
            <br>
            trên yên ngựa mỏi mòn
        </p>
        <p>
            By: <i>DSH</i>
        </p>
        <hr>
    </div>

</body>
</html>