<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    Your weight: {{posts.weight}}
    <br>
    Your Height: {{posts.height}}
    <br>
    Your BMI: {{posts.BMI}}
    <br>
    {% if 16 > posts.BMI  %}
        Severely underweight
    {% elif 18.5 > posts.BMI >= 16 %}
        Underweight
    {% elif 25 > posts.BMI >= 18.5 %}
        Normal
    {% elif 30 > posts.BMI >= 25 %}
        Overweight
    {% else %}
        Obese
    {% endif %}
</body>
</html>