<div class="card mb-2" style="width: 16rem;">
    <img class="card-img-top" src="../../static/image/rocks.jpg" alt="Card image cap">
    <div class="card-header">
        <h5 class="card-title">Đặng Sơn Hải</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Năm sinh:</p>
        <p class="card-text">Chiều cao:</p>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <a href="#" class="btn btn-dark">
            <i class="fas fa-heart"></i>
            Tìm hiểu thêm
        </a>
    </div>
</div>