<div class="bg-white mt-5">
        <h2 class="d-flex justify-content-center">Đây là danh sách ứng viên của chúng tôi</h2>
        <br>
        <h6 class="font-italic font-explain d-flex justify-content-center align-items-center">
            <a href="#" class="btn btn-dark mr-2">
                <i class="fas fa-heart"></i>
                Tìm hiểu thêm
            </a>
        để biết thêm chi tiết về các chàng/nàng!</h6>
        <div class="d-flex my-5 justify-content-around flex-wrap">
            {% include "search/detail.html" %}
            {% include "search/detail.html" %}
            {% include "search/detail.html" %}
            {% include "search/detail.html" %}
            {% include "search/detail.html" %}
            {% include "search/detail.html" %}
            {% include "search/detail.html" %}
            {% include "search/detail.html" %}
            {% include "search/detail.html" %}
            {% include "search/detail.html" %}
        </div>
    </div>