/* table */
#website{
    display: flex;
    flex-flow: column wrap;
    height: 1200px;
    width: 70%;
    margin: 0% 15%;
}

/* flex table */
.row-nowrap{
    display: flex;
    flex-flow: row wrap;
}

.row-nowrap-end{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

.row-nowrap-between{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.row-nowrap-center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.row-nowrap-center-center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.row-nowrap-center-end{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}
.column-wrap{
    display: flex;
    flex-flow: column wrap;
}

.column-wrap-around{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.column-wrap-between{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

/* size */
.w-5p{
    width: 5%;
}

.w-10p{
    width: 10%;
}

.w-15p{
    width: 15%;
}

.w-22p{
    width: 22%;
}

.w-25p{
    width: 25%;
}

.w-xp{
    width: 45.833%;
}

.w-48p{
    width: 48%;
}

.w-52p{
    width: 52%;
}

.w-60p{
    width: 60%;
}

.w-70p{ 
    width: 70%;
}

.w-80p{ 
    width: 80%;
}

.w-90p{ 
    width: 90%;
}

.w-100p{ 
    width: 100%;
}

.h-5p{
    height: 5%;
}

.h-15p{
    height: 15%;
}

.h-20p{
    height: 20%;
}

.h-32p{
    height: 32%;
}

.h-35p{
    height: 35%;
}

.h-50p{
    height: 50%;
}

.h-80p{
    height: 80%;
}

.h-85p{
    height: 85%;
}

.h-90p{
    height: 90%;
}

.h-100p{
    height: 100%;
}