<div class="card mb-3">
    <img class="card-img-top" src="../../static/image/female.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Đặng Sơn Hải</h5>
        <p class="card-text">Năm sinh: </p>
        <p class="card-text">Chiều cao: </p>
        <p class="card-text">Điện thoại: </p>
        <p class="card-text">Địa chỉ: </p>
        <p class="card-text">Mô tả: </p>
        <p class="card-text">Số đo 3 vòng: </p>
        <p class="card-text"><small class="text-muted"></small></p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-dark mr-2">
            <i class="fas fa-heart"></i>
            Pick em này nhé!
        </a>
    </div>
    </div>