<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mùa đông không lạnh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Mùa Đông Không Lạnh</h1>
    <a href="{{ url_for('search', g=0)}}">click vào em đi!</a>
    <a href="{{ url_for('search', g=1)}}">click vào anh đi!</a>
    <a href="{{ url_for('t_customer', g = 0)}}">Top 10 hottest single man!</a>
    <a href="{{ url_for('t_customer', g = 1)}}">Top 10 hottest single woman!</a>
</body>
</html>