<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mùa Đông Không Lạnh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {# method mặc định là get, ngoài ra còn có post, put, patch, delete, option, fre flight #}
    <h1>New Service</h1>
    <form method = 'post'>
        <label>Name</label>
        <input type="text" name = "name">
        <br>
        <label>Yob</label>
        <input type="text" name = 'yob'>
        <br>
        <label>Phone number</label>
        <input type="text" name = "phone">
        <br>
        <label>Height</label>
        <input type="text" name = 'height'>
        <br>
        <label>Address</label>
        <input type="text" size = "35" name = 'address'>
        <br>
        <label>Hobbies</label>
        <input type="text" size = '50' name = 'hobbies'>
        <br>
        <label>Measurement</label>
        <input type="text" name = 'round1' size = '5'> - 
        <input type="text" name = 'round2' size = '5'> - 
        <input type="text" name = 'round3' size = '5'>
        <br>
        <label>Gender</label>
        <br>
        <input type="radio" name = 'gender' value = 0> Male
        <br>
        <input type="radio" name = 'gender' value = 1> Female
        <br>
        <label>Status</label>
        <br>
        <input type="radio" name = 'status' value = 1> Single
        <br>
        <input type="radio" name = 'status' value = 0> Married
        <br>
        <input type="submit" value = 'Thêm'>
        <br>

        
    
    {# mặc định của sever => chỉ cho method get đi qua #}
    </form>
</body>
</html>
{# set default input value and radio button #}