<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mùa Đông Không Lạnh</title>
</head>
<body>
    <h1>Đăng ký tài khoản</h1>
    <form method = "POST">
        <label>Tên đầy đủ</label>
        <br>
        <input type="text" name = 'name' placeholder = 'Đặng Sơn Hải' required>
        <br>
        <label>Email</label>
        <br>
        <input type="email" name = 'email' placeholder = 'sonhaidang1995@gmail.com' required>
        <br>
        <label>Tên đăng nhập</label>
        <br>
        <input type="text" name = 'username' placeholder = 'sonhaidang1995'>
        <br>
        <label>Mật khẩu</label>
        <br>
        <input type="password" name = 'password' placeholder = '******'>
        <br>
        <br>
        <input type="submit" value = 'Đăng Ký'> 
    </form>
</body>
</html>