<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mùa Đông Không Lạnh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {% if g == 0 %}
    <h1>TOP 10 HOTTEST SINGLE MAN!!!</h1>
    {% else %}
    <h1>TOP 10 HOTTEST SINGLE WOMAN!!!</h1>
    {% endif %}
    <a href="{{ url_for('index')}}">Về trang chủ</a>
        <div>
            {% for customer in all_t_customer %}
            <p>Name: {{customer.name}}</p>
            <p>Emalil: {{customer.emailz}}</p>
            <p>Phone: {{customer.phone}}</b>
            <p>Job: {{customer.job}}</p>
            <hr>
        </div>
    {% endfor %}
</body>
</html>