<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mùa Đông Không Lạnh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Update profile</h1>
    <form method = 'post'>
        <label>Name</label>
        <input type="text" name = "name" value = {{u_profile.name}}>
        <br>
        <label>Yob</label>
        <input type="text" name = 'yob' value = {{u_profile.yob}}>
        <br>
        <label>Phone number</label>
        <input type="text" name = "phone" value = {{u_profile.phone}}>
        <br>
        <label>Height</label>
        <input type="text" name = 'height' value = {{u_profile.height}}>
        <br>
        <label>Address</label>
        <input type="text" size = "35" name = 'address' value = {{u_profile.address}}>
        <br>
        <label>Description</label>
        <input type="text" size = "35" name = 'des' value = "{{u_profile.des}}">
        <br>
        <label>Measurement</label>
        <input type="text" size = '5' name = 'round1' value = {{u_profile.measurements[0]}}>
        <input type="text" size = '5' name = 'round2' value = {{u_profile.measurements[1]}}>
        <input type="text" size = '5' name = 'round3' value = {{u_profile.measurements[2]}}>
        <br>
        <Label>Status</Label>
        <br>
        {% if u_profile.status == True %}
        <input type="radio" name = 'status' value = 1 > Độc thân
        <br>
        <input type="radio" name = 'status' value = 0 checked = 'checked'> Có chủ
        {% elif u_profile.status == False %}
        <input type="radio" name = 'status' value = 1 checked = 'checked'> Độc thân
        <br>
        <input type="radio" name = 'status' value = 0 > Có chủ
        {% endif %}
        <br>
        <label>Gender</label>
        <br>
        {% if u_profile.gender == 0 %}
        <input type="radio" name = 'gender' value = 0 checked = 'checked'> Male
        <br>
        <input type="radio" name = 'gender' value = 1> Female
        <br>
        {% elif u_profile.gender == 1 %}
        <input type="radio" name = 'gender' value = 0 > Male
        <br>
        <input type="radio" name = 'gender' value = 1 checked = 'checked'> Female
        <br>
        {% endif %}
        <input type="submit" value = 'Thêm'>
        
    </form>
</body>
</html>